# Do not add object files or compiled files to github
*.o
*.a
*.pyc
*.os
*.so
# These are some other compiled files
*lights/rpi_ws281x/test
*lights/test
*cl_lights/display
*cl_lights/control
test
# Ignore the scons database
*.sconsign.dblite
tags

